<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fym.ssm.mapper.PermissionMapper">
	<resultMap type="com.fym.ssm.domain.Permission" id="base_mapper">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="expression" column="expression" />
	</resultMap>
	<insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into permission (name,expression) values(#{name},#{expression})
	</insert>
	<delete id="delete">
		delete from permission where id = #{id}
	</delete>
	<select id="list" resultMap="base_mapper">
		select * from permission
	</select>
	<select id="getListData" resultMap="base_mapper">
		select * from permission
		limit #{beginIndex},#{pageSize}
	</select>
	<select id="getTotalCount" resultType="long">
		select count(*) from permission
	</select>
	<select id="getPermissionsByRoleId" resultMap="base_mapper">
		SELECT p.* FROM permission p
		LEFT JOIN roles_permissions rp ON p.id=rp.permission_id
		LEFT JOIN role r ON r.id=rp.role_id
		WHERE r.id=#{id}
	</select>
</mapper>